/*  your css code here. If applicable */
a{
	display:block;
	font-size:20px;
	
}
.sec1{
	margin-top:40px;
	
}
.item{
	font-size:20px;
	margin:auto;
	text-align:right;
	
}
.section2{
	margin:24px;
	margin-left:-2px;
}