/*  your css code here. If applicable */
a{
	display:block;
	font-size:20px;
	
}

	
}

.item{
	font-size:20px;
	margin:auto;
	text-align:right;
	animation:move 5s;
	animation-duration:infinite;
	animation-delay:1s;
}

@keyframes move{
	
    left:20px;
}
.section2{
	margin:24px;
	margin-left:-2px;
}